* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    overflow: hidden; /* Prevent unwanted scrolling */
}

.app-container {
    display: flex;
    flex-grow: 1; /* Ensures full use of available space */
}

.sidebar {
    width: 30%;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.map-container {
    flex-grow: 1; /* Takes up remaining space */
    height: 100vh;
}

.map {
    width: 100%;
    height: 100%; /* Ensure the map container has height */
}
